body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Preto */
    color: #fff; /* Branco */
}

.cadastro-container {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #007bff; /* Azul */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.cadastro-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #fff; /* Branco */
}

.cadastro-container form {
    display: flex;
    flex-direction: column;
}

.cadastro-container form input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff; /* Branco */
}

.cadastro-container form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000; /* Preto */
    color: #fff; /* Branco */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cadastro-container form button:hover {
    background-color: #333; /* Preto mais escuro */
}
