footer {
    
    background-image: linear-gradient(#8c52ff, #5ce1e6);
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    max-width: 100%;  
    height: 215px;
}



.footer-container {
    position: relative;
    bottom: 0;
    max-width: 100%;
}

.atendimento-container {

    
    
    float: right;
    width: 400px; 
    text-align: justify;
    line-height: 1.0;
    margin-right: 20px;
    margin-bottom: 20px;
}

.atendimento-container h4 {
    font-weight: bold;
    line-height: 0,5;
    
}

.atendimento-container p {

    text-align: justify;
    margin: 0 0 10px;
   

}

.redes-sociais-container {
    text-align: center; 
}

.redes-sociais-container h4 {
    margin-bottom: 10px; 
}

.redes-sociais-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.redes-sociais-container ul li {
    display: inline;
    margin-right: 20px;
    
}

.redes-sociais-container a {

    width: 100px;
    height: 100px;
}

.icon {
    font-size: 35px; 
}

.icon1 {
    font-size: 32px;
}




